@charset "utf-8";
/* CSS Document */

html {
	color:#000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	font-weight:normal;
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset{
	outline:none;
}
img {
	border:0;
	outline:none;
}

address, caption, cite, code, dfn, em, th, var {
	font-weight:normal
}
li {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;/*font-weight:normal*/
}
q:before, q:after {
	content:''
}
abbr, acronym {
	border:0;
	font-variant:normal
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit
}
input, textarea, select {
*font-size:100%
}
legend {
	color:#000
}
body {
	background:#fff;
	font-family: "allerregular";
*font-size:small;
*font:x-small
}
select, input, button, textarea {
	font:99% "allerregular"
}
table {
	font-size:inherit;
	font:100%
}
pre, code, kbd, samp, tt {
	font-family:monospace;
*font-size:108%;
	line-height:100%
}
a {
	text-decoration:none;
}
:active {
	outline:0 none;
}
:focus {
	outline:0 none;
}
:hover {
	outline:0 none;
}
div {
	font-size:14px;
	font-weight:normal;
}
@font-face {
	font-family: 'allerregular';
	src: url('font/aller_rg-webfont.eot');
	src: url('font/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),  url('font/aller_rg-webfont.woff') format('woff'),  url('font/aller_rg-webfont.ttf') format('truetype'),  url('font/aller_rg-webfont.svg#allerregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'droid_sansregular';
	src: url('font/droidsans-webfont.eot');
	src: url('font/droidsans-webfont.eot?#iefix') format('embedded-opentype'),  url('font/droidsans-webfont.woff') format('woff'),  url('font/droidsans-webfont.ttf') format('truetype'),  url('font/droidsans-webfont.svg#droid_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*-AMJ------start--here-------------------------------------------01-12-2012---------------------------------*/

body,html{ height:100%;}
#WrapperOtr {
	width:960px;
	margin:0px auto;
	min-height:100%;
	height:auto !important;
	height:100%;

}
#Pageholder {
	width:950px;
	float:left;
	padding:10px;
}
header {
	width:100%;
	height:104px;
	background:#4b4e51;
	border-top:5px solid #7c7f82;
	border-bottom:5px solid #7c7f82;
	float:left;
	min-width:990px;
}

#hederOtr {
	width:960px;
	margin:0px auto;
	margin-top:8px;
}
.header_rt {
	width:700px;
	float:right;
}
.logo {
	width:210px;
	float:left;
	margin-top:25px;
}
.top_navi {
	float:right;
}
.top_navi ul {
	float:left;
}
.top_navi ul li {
	float:left;
	display:block;
	background:url(../images/navi-sider.png) right center no-repeat;
	padding:0 16px;
}
.top_navi ul li a {
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	line-height:32px;
}
.top_navi ul li a:hover {
	color:#76bca1;
}
.top_navi ul li .navi_act {
	color:#76bca1;
}
.srch_otr {
	width:600px;
	float:right;
	margin-top:16px;
}
.srch_in_one { /*width:300px;*/
	float:right;
	height:34px;
	padding:1px;
	border:0;
	border-radius:6px;
	position:relative;
	behavior:url(PIE.htc);
	background:#eaeaea;
}
.searchbox {
	width:197px !important;
	height:19px !important;
	color:#b6b7b8;
	font-size:14px;
	background:#eaeaea;
	padding:8px 2px 8px 7px;
	border-radius:6px;
	position:relative;
	behavior:url(PIE.htc);
	border: 0 !important;
	float:left;
}
.go_btn {
	background: url(../images/srch-icon.png) no-repeat !important;
	margin:9px 5px 0 0;
	width:22px;
	height:20px;
	border:0;
	padding:0;
	float: left;
	cursor:pointer;
}
.go_btn:hover {
	background: url(../images/srch-icon.png) no-repeat;
	opacity:.7;
}
.go_btn:active {
	background: url(../images/srch-icon.png) no-repeat;
	opacity:1;
}
#BannerOtr {
	width:100%;
	height:444px;
	float:left;
	background:#93bab9;
	margin-bottom:30px;
	min-width:990px;
}
.home_page_otr {
	width:950px;
	float:left;
}
h1 {
	width:100%;
	font-size:28px;
	line-height:32px;
	color:#555555;
	text-align:center;
	margin:15px 0;
	float:left;
}
.mid_nav {
	width:950px;
	float:left;
	margin:40px 0;
}
.mid_nav ul {
	float:left;
	margin-left:35px;
}
.mid_nav ul li {
	float:left;
	margin:0 20px;
}
.mid_nav ul li a {
	border:4px solid #FFF;
	line-height:22px;
	font-size:22px;
	color:#FFF;
	border-radius:10px;
	position:relative;
	behavior:url(PIE.htc);
	box-shadow:0px 0px 3px #999;
	float:left;
	color:#FFF;
	padding:15px 30px 15px 50px;
}
.mid_nav ul li .nav1, .nav2, .nav3, .nav4 a:hover {
	float:left;
	position:relative;
	behavior:url(PIE.htc);
	box-shadow:0px 0px 3px #666;
}
.nav1 {
	background: #006E51 url(../images/sprite.png) 0px 10px no-repeat !important;
}
.nav1:hover {
	background: #3a3d40 url(../images/sprite.png) 0px 10px no-repeat;
}
.nav1_active {
	background: #3a3d40 url(../images/sprite.png) 0px 10px no-repeat !important;
}
.nav2 {
	background: #006e51 url(../images/sprite.png) 0px -49px no-repeat !important;
}
.nav2:hover {
	background: #3a3d40 url(../images/sprite.png) 0px -49px no-repeat !important;
}
.nav2_active {
	background: #3a3d40 url(../images/sprite.png) 0px -49px no-repeat;
}
.nav3 {
	background: #006e51 url(../images/sprite.png) 0px -109px no-repeat !important;
}
.nav3:hover {
	background: #3a3d40 url(../images/sprite.png) 0px -109px no-repeat;
}
.nav3_active {
	background: #3a3d40 url(../images/sprite.png) 0px -109px no-repeat;
}
.nav4 {
	background: #006e51 url(../images/sprite.png) 0px -168px no-repeat !important;
}
.nav4:hover {
	background: #3a3d40 url(../images/sprite.png) 0px -168px no-repeat;
}
.nav4_active {
	background: #3a3d40 url(../images/sprite.png) 0px -168px no-repeat;
}
.line_divider {
	width:950px;
	height:4px;
	float:left;
	background: url(../images/line-diveder.png) repeat-x;
	margin:25px 0;
}
.user_advisr_section {
	width:750px;
	padding:0 100px;
	margin-bottom: 20px;
	float:left;
}
.user_section_otr {
	width:315px;
	float:left;
}
.user_section_head {
	width:315px;
	text-align:center;
	font-size:26px;
	color:#3a3d40;
	text-transform:uppercase;
	float:left;
	margin:15px 0;
}
.user_section_img {
	width:315px;
	float:left;
}
.user_section_link {
	width:315px;
	float:left;
	margin-top:10px;
}
.link_user1 {
	width:115px;
	float:left;
	margin:0 17px;
}
.link_user1 img {
	float:left;
}
.link_user1 a {
	float:left;
	width:70px;
	font-size:18px;
	text-align:center;
	color:#3a3d40;
}
.link_user1 a:hover {
	color:#525557;
}
.link_user2 {
	width:145px;
	float:left;
	margin:0px;
}
.link_user2 img {
	float:left;
}
.link_user2 a {
	float:left;
	width:100px;
	font-size:18px;
	text-align:center;
	color:#3a3d40;
}
.link_user2 a:hover {
	color:#525557;
}
/*-AMJ-------------------------------------------------03-12-2012---------------------------------*/

.front_product_otr {
	width: 910px;
	float: left;
	padding-right:40px;
	margin:20px 0;
}
.product_cat_main {
	width: 423px;
	float: left;
	height:200px;
	border:1px solid #CCC;
	box-shadow:0px 0px 3px #ccc;
	position:relative;
	behavior:url(PIE.htc);
	background:#FFF;
}

.product_cat_main:hover {
	width: 423px;
	float: left;
	height:200px;
	border:1px solid #CCC;
	box-shadow:0px 0px 8px #0b6f55;
	position:relative;
	behavior:url(PIE.htc);
	background:#FFF;
}


.product_cat_main2 {
	width: 423px;
	float: right;
	height:200px;
	border:1px solid #CCC;
	box-shadow:0px 0px 3px #ccc;
	position:relative;
	behavior:url(PIE.htc);
	background:#FFF;
}

.product_cat_main2:hover {
	width: 423px;
	float: right;
	height:200px;
	border:1px solid #CCC;
	box-shadow:0px 0px 8px #0b6f55;
	position:relative;
	behavior:url(PIE.htc);
	background:#FFF;
}

.product_cat_main a{
	float:left;
}

.cat_profile_lt {
	width: 246px;
	float: left;
	height:200px;
	border-right:1px solid #CCC;
}
.cat_profile_otr {
	width: 230px;
	float: left;
	height:82px;
	padding:8px;
}
.profile_lt {
	width: 92px;
	float: left;
	height:80px;
}
.profile_lt img {
	border:1px solid #CCC;
	padding:2px;
}
.profile_rt {
	width: 134px;
	float: left;
	height:80px;
}
.profile_rt_titl {
	width: 134px;
	height:26px;
	float: left;
	font-size:16px;
	font-weight:bold;
	color:#2c3135;
}
.profile_rt_position {
	width: 134px;
	height:36px;
	float: left;
	font-size:12px;
	color: #666;
	word-wrap:break-word;
}
.profile_rt_rating {
	width: 134px;
	float: left;
}
.profile_time {
	width:246px;
	height:20px;
	float:left;
	border-top:1px solid #e0dedf;
	border-bottom:1px solid #e0dedf;
	background:#f2f2f2;
}
.profile_time ul {
	float:left;
	margin-left:14px;
}
.profile_time ul li {
	float:left;
	font-size:11px;
	color:#8b8b8d;
	font-weight:normal;
	line-height:20px;
	margin:0px;
}
.profile_time ul li span {
	color:#8b8b8d;
	margin:0 6px;
}
.credit_img {
	background:url(../images/credit_dot.png) left center no-repeat;
	padding-left:14px;
}
.profile_head_otr {
	width:226px;
	padding:10px;
	float:left;
}
.profile_head_one {
	width:210px;
	float:left;
	background:url(../images/setting.png) left top no-repeat;
	font-size:12px;
	color:#807c79;
	padding-left:25px;
	line-height:14px;
	height:35px;
}
.profile_head_one span {
	width:100%;
	float:left;
	color:#b0b4b7;
	font-size:11px;
	font-style:italic;
}
.profile_head_two {
	width:210px;
	float:left;
	background:url(../images/cap.png) left top no-repeat;
	font-size:11px;
	line-height:14px;
	color:#807c79;
	padding-left:25px;
	height:30px;
}
.cat_profile_rt {
	width: 160px;
	height:184px;
	float: left;
	padding:8px;
}
.cat_profile_rt .profile_rt_titl {
	width:100%;
}
.pop_product {
	width:160px;
	height:35px;
	margin:3px 0;
	float:left;
}
.pop_img {
	width:35px;
	height:35px;
	float:left;
}
.pop_text {
	width:120px;
	height:35px;
	float:right;
	font-size:11px;
	line-height:12px;
	word-wrap:break-word;
	color:#6a6f72
}
.testimonial_otr {
	width:950px;
	float:left;
}
.testimonial_otr h1 {
	text-align:left;
}
.testi_main_otr {
	width:425px;
	float:left;
}
.testi_main_otr2 {
	width:425px;
	float:right;
}
.testi_main_img_lt {
	width:112px;
	float:left;
}
.testi_main_img {
	float:left;
}
.testi_main_img img {
	padding:5px;
	border:1px solid #ccc;
}
.testi_main_rt {
	width:310px;
	float:left;
}
.testi_name {
	width:310px;
	font-size:16px;
	color:#4b4e51;
	font-weight:bold;
	text-transform:uppercase;
	float:left;
}
.testi_name span {
	width:310px;
	font-size:12px;
	color:#878787;
	font-weight:normal;
	text-transform: none;
	float:left;
}
.testi_main_otr .testi_main_rt .line_divider {
	width:305px;
	margin:10px 0;
}
.testi_main_otr2 .testi_main_rt .line_divider {
	width:305px;
	margin:10px 0;
}
.text_part {
	width:310px;
	height:85px;
	font-size:14px;
	color:#828282;
	line-height:20px;
	float:left;
	font-family: 'droid_sansregular';
}
.see_more {
	width:295px;
	float:left;
}
.see_more a {
	float:right;
	color:#828282;
	background:url(../images/arow.png) left center no-repeat;
	padding-left:12px;
	font-size:14px;
	margin:15px 0;
}
.see_more a:hover {
	text-decoration:underline;
}
/*-----------------footer------------------------------------Start-----------*/
footer {
	width:100%;
	height:121px;
	float:left;
	background:url(../images/footer-rpt.png) repeat-x;
	min-width:990px;
}
#footerOtr {
	width:990px;
	margin:0 auto;
}
#footerOtrInner {
	width:990px;
	float:left;
	margin-top:5px;
}
.footer_nav {
	width:640px;
	float:left;
	margin-top:25px;
}
.footer_nav ul {
	float:left;
}
.footer_nav ul li {
	float:left;
	font-size:14px;
	color:#fff;
	margin:0px;
}
.footer_nav ul li a {
	color:#cbcbcb;
}
.footer_nav ul li span {
	color:#cbcbcb;
	margin:0 18px;
}
.footer_nav ul li a:hover {
	border-bottom:1px solid #616263;
 *text-decoration:underline;
	padding-bottom:3px;
}
.share_icon_otr {
	float:right;
	width:160px;
}
.share_icon_otr a {
	float:left;
	margin:5px 3px;
	color:#838383;
}
.share_icon_otr img {
	margin-right:5px;
}
.share_icon_otr a:hover {
	opacity:.8;
}
.share_icon_otr a:active {
	opacity:1;
}
.copy_right {
	width:990px;
	float:left;
	margin-top:18px;
}
.copy_right_text {
	width:300px;
	float:left;
	color:#919191;
	font-size:12px;
	font-family: 'droid_sansregular';
}
.copy_right_text a {
	color:#919191;
}
.copy_right_text a:hover {
	color:#919191;
	text-decoration:underline;
}
.copy_right_text2 {
	float:right;
	color:#919191;
	font-size:12px;
	font-family: 'droid_sansregular';
}
.copy_right_text2 a {
	color:#919191;
}
.copy_right_text2 a:hover {
	color:#919191;
	text-decoration:underline;
}
/*-AMJ-----------------------------login-page------------------04-12-12----------------*/

.login_page_otr {
	width:950px;
	float:left;
	margin:20px 0;
}
 input[type="submit"], [type="button"] {
	color:#fff;
	/*background:#76BCA1;*/
	background:#4b4e51;
	font-size:14px;
	border:0;
	cursor:pointer;
	border-radius:4px;
	height:30px;
	padding:0 10px;
	*padding:0 3px;
	position:relative;
	behavior:url(PIE.htc);
	outline:none 0;
	text-outline:0 none;
}
input[type="submit"]:hover, [type="button"]:hover {
	color:#fff;
	background:#4b4e51;
	opacity:.9;
	outline:none 0;
	text-outline:0 none;
}
input[type="submit"]:active, [type="button"]:active {
	color:#fff;
	background:#4b4e51;
	outline:none 0;
	opacity:1;
	text-shadow:none;
	text-outline:0 none;
}
.login_inner {
	width:350px;
	margin:0 auto;
	clear:left;
}
#loginOtr .text_head {
	margin-bottom:20px;
}
#loginOtr .text_head h1 {
	text-align:center;
}
#loginOtr .text_head p {
	text-align:center;
}
.login_box {
	width:294px;
	float:left;
	padding:20px;
	background:#fff;
	border:1px solid #ccc;/*position:relative; behavior:url(PIE.htc);
	box-shadow:0px 0px 5px #a6a6a6;*/

}
.fld_otr {
	width:320px;
	padding:6px 0;
	float:left;
}
.fld_otr2 {
	width:320px;
	padding:4px 0;
	float:left;
}
input[type="text"] {
	width:290px;
	height:25px;
	border:1px solid #ddd;
	color:##B6B7B8
}
input[type="text"]:focus {
	border:1px solid #7acdad;
}
input[type="password"] {
	width:290px;
	height:25px;
	/*float:left;*/
	border:1px solid #ddd;
}
input[type="password"]:focus {
	border:1px solid #7acdad;
}
.login_title {
	width:336px;
	float:left;
	padding:8px 10px;
	background:#4B4E51;
	font-size:18px;
	color:#fff;
	border-radius:6px 6px 0 0;
	position:relative;
	behavior:url(PIE.htc);
}
input[type="radio"] {
	float:left;
	margin:2px 5px 0 0;
 *margin: -3px 2px 0 0;
}
label {
	color: #888;
	float: left;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	width: 170px;
}
.login_btn {
	width:290px;
}
.login_btn a {
	float:right;
	color:#666;
	margin-top:6px;
}
.login_btn a:hover {
	text-decoration:underline;
}
.drop_shadwo {
	width:356px;
	height:11px;
	float:left;
	background:url(../images/drop-shadwo-img.png) no-repeat;
}

/*-AMJ-----------------------------registration-page------------------04-12-12----------------*/

.registration_page_otr1 {
	width:950px;
	float:left;
	margin:20px 0;
}

.ragi_help_otr{
	width:470px;
	float:left;
	padding:0;
	margin:15px 0 30px 0;
}

.ragi_help_lt{
	width:100%;
	float:left;
	/*border-right:1px dotted #ccc;*/
}

.ragi_help_head_btn{
	width:280px;
	float:left;
	background:#3A3D40;
	padding:10px 0;
	text-align:center;
	font-size:22px;
	color:#FFF;
	border:5px solid #FFF;
	border-radius: 8px;
	box-shadow:0px 0px 2px #CCC;
	behavior:url(PIE.htc);
	position:relative;

}

.ragi_help_head_btn span{
	float:left;
	width:100%;
	font-size:14px;
	margin:8px 0;
}

.registration_page_otr1 .fld_otr{
	width:220px;
}

.registration_page_otr1 .login_btn{
	width:auto;
	text-align:center;
	margin-top:15px;
}

.registration_page_otr1 .login_btn span{ 
	width:100%;
	float:left;
	margin:10px 0;
	font-size:16px;
	text-align:center;
}

.registration_page_otr1 .login_btn a{ 
	float:none;
	text-align:center;
}

.registration_page_otr1 .login_btn a{ 
	float:none;
	text-align:center;
}


/*-AMJ-----------------------------registration-as-user------------------04-12-12----------------*/


.registration_as_user {
	width:950px;
	float:left;
	margin:20px 0;
}

.regi_text_part{
	width:950px;
	float:left;
	margin-top:20px;
}

h2 {
	width:98%;
	font-size:22px;
	line-height:32px;
	color:#777;
	text-align:left;
	margin:2px 0;
	float:left;
	padding-left:15px;
	background:url(../images/arow.png) left center no-repeat;

}


.check_forgot_box{
	float:left;
	width:295px;
	*line-height:25px !important;
	line-height:18px;
	margin:12px 0;
}
.check_forgot_box span{
	float:left;
	color:#999;
	width: auto !important;
}



.check_forgot_box input[type="checkbox"] {
    float: left;
    margin: 2px 5px 0 0;
}

.registration_as_user .line_divider{
	margin: 0 0 25px;
}

.registration_page_otr1 .line_divider{
	margin: 0 0 25px;
}

/*-AMJ-----------------------------registration-as-user------------------04-12-12----------------*/


.registration_as_advisor {
	width:950px;
	float:left;
	margin:20px 0;
}
.registration_as_advisor .line_divider{
	margin: 0 0 25px;
}

.registration_advisor_inner {
	width:950px;
	float:left;
}

.registration_advisor_inner .login_box {
	width:890px;
	padding:15px;
}

.registration_advisor_inner .fld_otr {
	width:850px;
	padding:10px 0;
}
.registration_advisor_inner label {
	width:200px;
}


.adviosr_heading{
	width:97%;
	float:left;
	padding:6px 8px 6px 18px;
	font-size:16px;
	color:#666;
	background:#f9f9f9 url(../images/arow.png) 5px center no-repeat;
	border-bottom:2px solid #76BCA1;
	border-top:1px solid #eee;
	box-shadow:0px 1px 2px #ddd;
	behavior:url(PIE.htc);
	position:relative;
	margin:5px 0 15px 0;

}

.fld_otr_btn{
	width:690px;
	float:right;
	margin:10px 0;
}

.registration_advisor_inner .fld_otr span{
	width:100%;
	float:left;
	color:#888888;
	font-size:14px;
}

.registration_advisor_inner .fld_otr textarea{
	width:510px;
	min-width:510px;
	max-width:510px;
	height:100px;
	float:left;
	color:#888888;
	font-size:14px;
	margin:10px 0;
}
.registration_advisor_inner .fld_otr textarea:focus{
		border:1px solid #7acdad;
}

.registration_advisor_inner .fld_otr .check_forgot_box span{
	width:auto;
}
.fld_otr_btn input[type="submit"], [type="button"]{
	background:#4b4e51;
}

.fld_otr0 {
    float: left;
    padding: 0;
    width: 320px;
}

.registration_advisor_inner .fld_otr0 {
	width:850px;
	margin:5px 0 10px 0;
}

.drop_shadwo2 {
	width:932px;
	height:11px;
	float:left;
	background:url(../images/drop-shadwo2.png) 0 -5px no-repeat;
}

/*-AMJ-----------------------------About-us------------------04-12-12----------------*/

.about_page_otr {
	width:950px;
	float:left;
	margin:20px 0;
}

.about_page_otr .line_divider{
	margin: 0 0 25px;
}

.abt_main_otr{
	width:950px;
	float:left;
}

.about_left_category{
	width:270px;
	float:left;
}

.about_left_category ul{
	float:left;
}

.about_left_category ul li{
	width:240px;
	float:left;
}


.about_left_category ul li a{
	width:210px;
	float:left;
	padding:7px 5px 7px 10px;
	margin:7px 0;
	border:3px solid #FFF;
	box-shadow:0px 0px 2px #ccc;
	behavior:url(PIE.htc);
	position:relative;
	color: #444;
	font-size:14px;
	font-family: 'droid_sansregular';
	font-weight: lighter;
	background: #f1f1f1 /*url(../images/icon-arow2.png) 5px center no-repeat*/;

}

.about_left_category ul li a.abt_active{
	width:210px;
	float:left;
	padding:7px 5px 7px 10px;
	margin:7px 0;
	border:3px solid #FFF;
	box-shadow:0px 0px 2px #ccc;
	behavior:url(PIE.htc);
	position:relative;
	color: #fff;
	font-size:14px;
	font-family: 'droid_sansregular';
	font-weight: lighter;
	background: #4b4e51 /*url(../images/icon-arow3.png) 5px center no-repeat*/;

}

.about_left_category ul li a:hover{
	box-shadow:0px 0px 3px #aaa;
	behavior:url(PIE.htc);
	position:relative;
}


.about_right_part{
	width:680px;
	float:left;
}
.about_right_part p{
	width:680px;
	margin:5px 0;
	float:left;
	font-size:14px;
	color:#888;
}

/*-AMJ-----------------------------user-dash-board-page------------------04-12-12----------------*/

.user_dash_otr {
	width:950px;
	float:left;
	margin:20px 0;
}

.user_dash_otr .line_divider{
	margin: 0 0 25px;
}


.user_dash_main_otr{
	width:950px;
	float:left;
}


.user_dash_category{
	width:220px;
	float:left;
}

.user_dash_category ul{
	float:left;
}

.user_dash_category ul li{
	width:200px;
	float:left;
}


.user_dash_category ul li a{
	width:150px;
	float:left;
	padding:7px 5px 7px 25px;
	margin:5px 0;
	border:4px solid #FFF;
	box-shadow:0px 0px 2px #bbb;
	behavior:url(PIE.htc);
	position:relative;
	color: #fff;
	font-size:14px;
	font-family: 'droid_sansregular';
	font-weight: lighter;
	background: #4B4E51 url(../images/icon-arow2.png) 5px center no-repeat;

}

.user_dash_category ul li a.user_active{
	width:150px;
	float:left;
	padding:7px 5px 7px 25px;
	margin:0 0 5px 0;
	border:4px solid #FFF;
	box-shadow:0px 0px 2px #bbb;
	behavior:url(PIE.htc);
	position:relative;
	color: #444;
	font-size:14px;
	font-family: 'droid_sansregular';
	font-weight: lighter;
	background: #76BCA1 url(../images/icon-arow4.png) 5px center no-repeat;

}

.user_dash_category ul li a:hover{
	box-shadow:0px 0px 3px #aaa;
	behavior:url(PIE.htc);
	position:relative;
	background: #76BCA1 url(../images/icon-arow4.png) 5px center no-repeat;

}

.user_dash_right_part{
	width:730px;
	float:left;
}


.session_completd_otr{
	width:716px;
	float:left;
	padding:5px;
	border:1px solid #ccc;
}

.session_heading{
	width:98.7%;
	float:left;
	background:#76BCA1;
	padding:10px 0 10px 10px;
	color:#FFF;
}


.session_req_left{
	width:100%;
	float:left;
	padding:10px 0;
}

.session_req_right{
	width:40%;
	float:left;
	background:#ddd;
	padding:10px 0;
}

.session_req_lef_head{
	width:97.3%;
	float:left;
	color:#333;
	margin:2px 0;
	padding:10px;
	background:#eee;
	font-size:16px;
}

.request_one{
	width:60%;
	float:left;
	font-size:18px;
}

.request_two{
	width:40%;
	float:left;
	font-size:18px;
	text-align:right;
}

.session_req_lef_comment{
	width:97.3%;
	float:left;
	margin:2px 0;
	color:#444;
	padding:4px 10px;
}

.comment_one{
	width:60%;
	float:left;
}

.comment_two{
	width:40%;
	float:left;
	text-align:right;
}

/*-AMJ------------------05-12-12------*/

.fld_otr_forgot{
	margin:25px 0 15px 0;
	float:left;
	background:#f1f1f1;
	padding:15px;
	border-radius:8px;
	behavior:url(PIE.htc);
	position:relative;
	border:1px solid #ddd;
}

.fld_otr_forgot .login_btn{
	margin:10px 0;
	width:260px;
}

.fld_otr_forgot input[type="text"]{
	width:260px;
}

.fld_otr_forgot .login_btn input[type="submit"]{
	float:right;
}


.login_page_otr .line_divider {
    margin: 0 0 25px;
}

.login_page_otr .fld_otr .login_btn input[type="submit"]{
	float:left;
}


.regi_text_inn{
	/*width:590px;*/
	width:100%;
	float:left;
	margin-bottom:15px;
}

.regi_text_inn p{
	width:100%;
	float:left;
	color:#666;
	line-height:20px;
	font-size:14px;
	margin:6px 0;
	font-family: 'droid_sansregular';
}

.cptcha_img{
	width:100%;
	float:left;
	margin:10px 0;
}

.cptcha_img img{
	border:1px solid #ccc;
	padding:5px;
	width:290px;
}
.cpt_cls{
	color:#999;
	width:300px !important;
}

.adviosr_heading2{
	width:97%;
	float:left;
	padding:6px 8px 6px 18px;
	font-size:16px;
	color:#666;
	background:#f9f9f9 url(../images/arow.png) 5px center no-repeat;
	border-bottom:2px solid #76BCA1;
	border-top:1px solid #eee;
	box-shadow:0px 1px 2px #ddd;
	behavior:url(PIE.htc);
	position:relative;
	margin:15px 0 15px 0;

}


.date_inpt{
	width:55px !important;
	color:#999;
	padding-left:5px;
}

.fld_otr font{
	margin:0 8px;
	color:#999;
}

.fld_otr select{
	color:#999;
	border:1px solid #ccc;
	padding:2px;
	margin-right:5px;
}
.fld_otr select option{
	padding:0 15px 0 4px;
	text-align:left;
}


.registration_as_advisor input[type="text"] {
	width:308px;
	height:25px;
	border:1px solid #ddd;
	color:##B6B7B8
}

.registration_as_advisor input[type="password"] {
	width:308px;
	height:25px;
	/*float:left;*/
	border:1px solid #ddd;
}

.registration_as_advisor input[type="text"]:focus {
	border:1px solid #7acdad;
}
.registration_as_advisor input[type="password"]:focus {
	border:1px solid #7acdad;
}


.registration_as_user .fld_otr span {
    color: #888888;
    float: left;
    font-size: 14px;
    width: 100%;
}

.registration_as_user .fld_otr .cptcha_img img{
	width:280px;
}


.registration_as_user  .cpt_cls {
    color: #999999;
    width: 290px !important;
}

.ragi_help_otr .login_btn a {
    float: left;
	width:100%;
    text-align: center;
}

.ragi_help_otr .login_btn span {
    margin: 5px 0;
}




/*-AMJ--------------------------------------------------------06-12-12-------------------------------------------------*/




#BannerOtr #slider1prev a {
    background: url("../images/arrow-prev.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 43px;
    position: relative;
    width: 24px;
}


#BannerOtr #slider1next a {
    background: url("../images/arrow-next.png") no-repeat scroll 0 0 transparent;
}


#slider_inn{
	width:990px;
	margin:0 auto;
}


/*-AMJ----07-12-12---------------------------------------------------------------menu-css------------------------*/

#menu ul.menu li {
    float: left;
    margin: 0 18px;
	height:70px;
	position:relative;
}



#menu ul.menu li div {
  position: absolute;
  top: 70px;
  left: 0px;
}

#menu ul.menu li div div {
  position: absolute;
  top: -6px;
  left: 188px;
}

/* Escaping style for lower levels */
#menu ul.menu li div ul li {
  display: block;
  float: none;
  width: auto;
  height: auto;
}

/** Graphics **/

/* Horizontal sliding doors */
#menu ul.menu li a {
 /* padding-left: 14px;
  background-image: url("images/item1.png");
  background-repeat: no-repeat;
  background-position: left -1000px;
  display: inline-block;*/
	margin: 10px 2px;
	border:4px solid #FFF !important;
	line-height:22px;
	font-size:22px;
	color:#FFF;
	border-radius:10px !important;
	position:relative;
	behavior:url(PIE.htc);
	box-shadow:0px 0px 3px #999;
	float:left;
	color:#FFF;
	padding:15px 30px 15px 50px;


}

#menu ul.menu li a span {
  /*  padding-right: 14px;
  padding-left: 0px;
background-image: url("images/item1.png");
  background-repeat: no-repeat;
  background-position: right -1000px;
  display: inline-block;
  height: 27px;
  line-height: 27px;
  cursor: pointer;*/
}


#menu ul.menu li:hover a {
  /*background-position: left -54px;*/
}

#menu ul.menu li:hover a span {
  background-position: right -81px;
}

#menu ul.menu li.active a {

  /*background-position: left 0px;*/
}

#menu ul.menu li.active a span {
		color: #fff;
  background-position: right -27px;
}

/* Escape Horizontal doors */
#menu ul.menu li div ul li a {
  display: block;
  padding: 0px;
  margin: 0px;
  background: none;
  padding:5px 10px;
  font-size:16px;
  margin-bottom:2px;
  background:#none !important;
  box-shadow:none !important;
  border: 0 !important;
  color:#FFF;
  border-radius:none !important;
  border-bottom:1px solid #4b4b4b;


}

#menu ul.menu li div ul li a:hover {
  display: block;
  padding: 0px;
  margin: 0px;
  background: none;
  padding:5px 10px;
  font-size:16px;
  margin-bottom:2px;
  background:#006e51 !important;
  border-radius:0 !important;
  color:#FFF;
  text-align:center;
}


#menu ul.menu li div ul li a span {
  display: block;
  background: none;
  height: auto;
  /*width: 165px;*/
  color:#fff;
  line-height: 20px;
  white-space: normal;  
}

/* Vertical sliding doors */
#menu ul.menu li div { 
 
  /*padding-top: 25px;
  width: 200px; background-image: url("images/submenu-top.png");
  background-repeat: no-repeat;
  background-position: 0px top;*/
}

#menu ul.menu li div ul { 
 /* padding: 6px 6px 9px 6px;
  padding-top: 0;
  background-image: url("images/submenu-bottom.png");
  background-repeat: no-repeat;
  background-position: 0px bottom;*/
}

/* Hover Effect on Submenus */
#menu ul.menu ul li:hover
{

}
#menu ul.menu li.active ul li a span {
	color: #fff;
	width: 165px;}
#menu ul.menu li.active ul li a span:hover {
	color:#fff ;
}
	
#menu ul.menu ul li a span:hover
{
	color:#fff ; 
}

/* Main header line */
#menu {
    float: left;
    margin: 40px 0;
    width: 950px;
}

.menu{
	float:left;
	height:70px;
	margin-left:35px;
}








/* ie7 */
#menu ul.menu li {
  *zoom: 1;
  *display: inline;
}

#menu ul.menu li a {
  *zoom: 1;
  *display: inline;
}

#menu ul.menu li a span {
  *zoom: 1;
  *display: inline;
}

/* IE6 */
#menu ul.menu li a {
  _background-image: url("images/item.gif");
}

#menu ul.menu li a span {
  _background-image: url("images/item.gif");
}

#menu ul.menu li div { 
  _background-image: url("images/submenu-top.gif");
}

#menu ul.menu li div ul { 
  _background-image: url("images/submenu-bottom.gif");
}

#menu ul.menu li a:hover {
  _background-position: left -54px;
}

#menu ul.menu li a:hover span {
  _background-position: right -81px;
  _color: #E8F3F7;
}
#menu ul.menu li li a:hover span {
  _color:#09C6F5; 
}

/* Menu logic for IE6 */
#menu div { _display: none; }
#menu div li:hover div { _visibility: visible;_display: block; }
#menu div li:hover li:hover div { _display: block; }
#menu div li:hover li:hover li:hover div { _display: block; }

/* Lines between li */
#menu ul.menu li div ul li
{
	margin:0;
 /* background-image:url(images/hr.gif);
  background-repeat: repeat-x;
  background-position: left bottom;*/
}
#menu ul.menu ul a.parent {
  /*background: url(../images/arrow.png) no-repeat right center;*/
  margin-right: -1px;
}

/* Menu logic */
#menu li>div { visibility: hidden; }
#menu li:hover>div { visibility: visible; }
/* */

/* Hover Effect on Submenus */
#menu ul.menu ul li:hover
{
}

/* Fonts */
#menu ul.menu li a span
{ 
/*  font-family: Arial;
  font-size: 13px;
  font-weight: 600;*/
}

#menu ul.menu li div ul li a span
{ /*color:#5E5E5E;
  font-family: Trebuchet MS;
  font-size: 12px;
  font-weight: 400;*/
}

/* Lines between li */
#menu ul.menu li div ul
{
  /*padding-bottom: 8px;*/
  float:left;
  background:#333;
}

#menu ul.menu li div ul li:first-child
{
  border-top-width: 0px;
}


/* Text shadow */
#menu span
{
  color: #EB2E83;
}

#menu li:hover>a>span 
{
  color: #E8F3F7;
}

.admission_ul{
	float:left;
	width:190px;
	margin-left:8px;
	background:#333;
	border-radius:0 0 10px 10px;
	behavior:url(PIE.htc);
}


.admission_ul a{
	width:170px;
	text-align:center;

}


.career_ul{
	float:left;
	width:152px;
	margin-left:8px;
	background:#333;
	border-radius:0 0 10px 10px;
	behavior:url(PIE.htc);
}


.career_ul a{
	width:132px;
	border-bottom:1px solid #ccc !important;
	text-align:center;

}

.busines_ul{
	float:left;
	width:162px;
	margin-left:8px;
	background:#333;
	border-radius:0 0 10px 10px;
	behavior:url(PIE.htc);
}


.busines_ul a{
	width:142px;
	border-bottom:1px solid #ccc !important;
	text-align:center;

}

.tutorial_ul{
	float:left;
	width:162px;
	margin-left:8px;
	background:#333;
	border-radius:0 0 10px 10px;
	behavior:url(PIE.htc);
}


.tutorial_ul a{
	width:142px;
	border-bottom:1px solid #ccc !important;
	text-align:center;

}



/*.menu div{
	visibility:visible !important;}

  border-bottom:1px solid #4b4b4b;
*/


#menu .tutorial_ul li{
	border-bottom:1px solid #484848 !important;
	float:left !important;
}

 
#menu .admission_ul li{
	border-bottom:1px solid #484848 !important;
	float:left !important;
}
#menu .admission_ul li:last-child{
	border-bottom:0 !important;
}

 
#menu .career_ul li{
	border-bottom:1px solid #484848 !important;
	float:left !important;
}
#menu .career_ul li:last-child{
	border-bottom:0 !important;
}

#menu .busines_ul li{
	border-bottom:1px solid #484848 !important;
	float:left !important;
}
#menu .busines_ul li:last-child{
	border-bottom:0 !important;
}

#menu .tutorial_ul li{
	border-bottom:1px solid #484848 !important;
	float:left !important;
}
#menu .tutorial_ul li:last-child{
	border-bottom:0 !important;
}


/*AMJ----08-12-12------------*/

.video_otr{
	/*width:100%;*/
	float:left;
}

.video_otr img{
	float:left;
	/*margin:40px 0px 0px 105px*/
}

/*AMJ----10-12-12------------*/

.about_page_otr h1{
	text-align:left;
}

.registration_page_otr1 input[type="submit"], [type="button"] {
	color:#fff;
	/*background:#76BCA1;*/
	background:#4b4e51;
	font-size:16px;
	border:0;
	cursor:pointer;
	border-radius:4px;
	height:35px;
	padding:0 22px;
	*padding:0 3px;
	position:relative;
	behavior:url(PIE.htc);
	outline:none 0;
	text-outline:0 none;
}
.registration_page_otr1 input[type="submit"]:hover, [type="button"]:hover {
	color:#fff;
	background:#4b4e51;
	opacity:.9;
	outline:none 0;
	text-outline:0 none;
}
.registration_page_otr1 input[type="submit"]:active, [type="button"]:active {
	color:#fff;
	background:#4b4e51;
	outline:none 0;
	opacity:1;
	text-shadow:none;
	text-outline:0 none;
}



#sticky_footer{
	height:121px;
}






















